@media (max-width: 400px) {
    .card {
        padding: 12px 12px;
        padding-bottom: 30px;
        row-gap: 18px;
    }

    .qr-code {
        width: 216px;
    }
    
    .text {
        row-gap: 12px;
    }
    
    .title {
        width: 192px;
        font-size: 16px;
    }
    
    .description {
        width: 192px;
        font-size: 11px;
    }
}

@media (min-width: 401px) {
    .card {
        padding: 16px 16px;
        padding-bottom: 40px;
        row-gap: 24px;
    }

    .qr-code {
        width: 288px;
    }
    
    .text {
        row-gap: 16px;
    }
    
    .title {
        width: 256px;
        font-size: 22px;
    }
    
    .description {
        width: 256px;
        font-size: 15px;
    }
}

.card-container, .card, .text {
    display: flex;
    align-items: center;
}

.card-container {
    flex-direction: column;
    justify-content: center;
    flex: 16;
}

.card {
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.qr-code {
    display: block;
    border-radius: 10px;
}

.text {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    line-height: 120%;
    color: rgb(31, 49, 79);
    text-align: center;
}

.description {
    line-height: 140%;
    color: hsl(216, 15%, 48%);
    text-align: center;
}
